table {
  table-layout: fixed;
  text-align: center;
  width: 700px;
  color: white;
}
p{
    margin: auto;
}
th{
    padding: 15px;
}
thead th{
    background-color: #f4b6b6; 
    
}
thead th + th{
    background-color: #E5B8B7;
}
thead th + th + th{
    background-color: #D99594;
}
thead th + th + th + th{
    background-color: #943634;
}
thead th + th + th + th +th{
    background-color: #632423;
}
th{
    background-color: #C0504D;
}
tbody tr{
background-color: #E5B8B7;
}
tbody tr + tr{
background-color: #D99594;
}
tbody tr + tr + tr{
background-color: #E5B8B7;
}
tbody tr + tr + tr +tr{
background-color: #D99594;
}
tbody tr + tr + tr + tr +tr{
background-color: #E5B8B7;
}
/* tbody + tr + th {
    background-color: #E5B8B7;
} */
/* thead th {
  padding: 15px;
  background-color: #f4b6b6; 
  color: white;
} */
/* thead tr:first-child th {
  background-color: #f2a4a4;
  font-weight: normal;
  font-size: 16px;
} */