
.container {
    
    padding:  auto;
}


.bl0 {
    
    color: #f1f1f1;
    margin: 20px;
    border-radius: 50px;
}

.bl1 {
    margin-top: 20px;
    color: #f1f1f1;
    margin: 30px;
   
}
.block13 {
    border: 10px solid #6d0f0f;
    background-color: #6d0f0f;
    background: #6d0f0f;
}


.block14 {
    background: #9b5a5a;
}


.inner {
    width: 40%;
    padding: 20px;
    border-radius: 40px;
    background: #b62f2f;
    float: left;
    margin: 20px 2.5%;
}



h3 {
    text-align: center;
}
