body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}


.card {
    width: 250px;
    height: 300px;
    float: left;
    margin: 20px;
    background: #fff;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
}


.card h3 {
    margin: 10px 0;
}


.card img {
    width: 100%;
    height: 150px;
}


.card p {
    padding: 10px;
}

/* ТІНІ (як на зразку) */

.shadow1 {
    /* box-shadow: -10px 0 10px green; */
    box-shadow: -5px -5px 10px 2px green;
}

.shadow2 {
    box-shadow: 0px 0px 10px 8px green;
}

.shadow3 {
    box-shadow: 5px 5px 4px -2px green;
}

.shadow4 {
    box-shadow: 0 0 20px green;
}

.shadow5 {
    box-shadow:
        0 -4px green,
        -4px 0 red,
         4px 0 blue,
         0 4px orange;
}

.shadow6 {
    
    box-shadow:
        0 -4px orange,
        
         
         0 4px green;


}

