body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 20px;
}

form {
  background-color: #ffffff;
  width: 500px;
  margin: auto;
  padding: 25px 40px;
  
}

label {
  font-weight: 600;
  color: #333;
}
input{
    margin: 10px;
    padding-left: 10px ;
}

